# Data Structures

Singkatnya, koleksi atau grup dari data dalam bentuk struktur tertentu.

## A. Lists

Betuk yg paling sering digunakan adalah `List`. Bayangkan itu sebagai daftar data yang di bentuk dalam kurung siku dan dipisah menggunakan koma. Setiap data mempunyai index untuk bisa diakses. Untuk memulai struktur ini bisa dengan `[]` atau fungsi `list`

In [1]:
a = [3,7,13,14,19,22,27]

In [2]:
print(type(a))

<class 'list'>

In [3]:
x = ['kabel', 'kalender','meja']

In [5]:
ax=[4,'saya','bangku',5,6,9.0,[4.0,4.5],'res']

### A.1 Indexing

dalam python, index dimulai dari 0.

In [4]:
x[0]

'kabel'

In [6]:
x[0]==x[-3]

True

index juga berlaku sebaliknya

In [5]:
x[-1]

'meja'

In [8]:
y = ['tv','bangku']

kita bisa buat list dalam list

In [9]:
z  = [x,y]
print(z)

[['kabel', 'kalender', 'meja'], ['tv', 'bangku']]

In [10]:
z1 = z[0]
print(z1)

['kabel', 'kalender', 'meja']

In [9]:
z1[0]

'kabel'

In [11]:
z[0][0]

'kabel'

### A.2 Slicing

List bisa kita "slice" dan di ambil isi "sub-list"-nya

In [12]:
num = [89,33,3,4,5,6,7,8,9,10,11,12,13,10,56]

In [13]:
print(num[0:4])
print(num[4:])

[89, 33, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 10, 56]

bisa juga di slice dengan steps

In [14]:
num[:9:3]

[89, 4, 7]

In [15]:
num[2:-2]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

### A.3 Built in List Functions

In [16]:
len(num)

15

In [17]:
min(num)

3

In [18]:
max(num)

89

penjumlahan list

In [19]:
[1,2] + [5,6,4,7]

[1, 2, 5, 6, 4, 7]

In [20]:
[1,2,3,4]+[8,7,6,5]

[1, 2, 3, 4, 8, 7, 6, 5]

Kehebatan lain dalam list

In [21]:
names = ['Air','Fire','Water','Earth','Light']

In [22]:
'Fire' in names

True

In [23]:
'liquid' in names

False

In [25]:
'Light' in names

True

berlaku dengan string

In [26]:
mlist = ['asdagt','dhtdf','thet2d','dsfa','gkh','adffaz','zdfssg','safrsad','krfgthm']

In [27]:
print(max(mlist))
print(min(mlist))

zdfssg
adffaz

In [31]:
nlist = ['752','355','614','023','7040']
nlist_int = [752, 355, 614, 23, 7040]

In [32]:
print(max(nlist))
print(min(nlist))

752
023

In [33]:
print(max(nlist_int))
print(min(nlist_int))

7040
23

In [25]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [34]:
list(['hello'])

['hello']

**append( )**

In [35]:
lst = [1,1,4,8,7,7,9,0,3,5]

In [36]:
lst.append('70')
print(lst)

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70']

In [37]:
lst1 = [5,4,2,8,7]

In [38]:
lst.append(lst1)
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7]]

**extend( )**

In [39]:
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7]]

In [41]:
lst1

[5, 4, 2, 8, 7]

In [42]:
lst.extend(lst1)
lst

[1, 1, 4, 8, 7, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8, 7]

In [43]:
lst.extend(4)

TypeError: 'int' object is not iterable

**count( )**

In [44]:
lst.count(1)

2

**index( )**

In [45]:
lst.index(1)

0

**insert(x,y)**

In [46]:
lst.insert(5, 'kipas')
print(lst)

[1, 1, 4, 8, 7, 'kipas', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8, 7]

In [47]:
lst[5] = 'botol'
lst

[1, 1, 4, 8, 7, 'botol', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8, 7]

**pop( )**

In [48]:
lst

[1, 1, 4, 8, 7, 'botol', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8, 7]

In [49]:
lst.pop()

7

In [50]:
lst

[1, 1, 4, 8, 7, 'botol', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

Pop dengan index

In [51]:
lst

[1, 1, 4, 8, 7, 'botol', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

In [52]:
lst.pop(2)

4

In [53]:
lst

[1, 1, 8, 7, 'botol', 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

In [54]:
guru=lst.pop(5)

In [55]:
guru

7

In [56]:
lst

[1, 1, 8, 7, 'botol', 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

**remove( )**

In [57]:
lst.remove('botol')
print(lst)

[1, 1, 8, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

In [58]:
lst.remove('Python')
print(lst)

ValueError: list.remove(x): x not in list

In [59]:
del lst[1]
print(lst)

[1, 8, 7, 9, 0, 3, 5, '70', [5, 4, 2, 8, 7], 5, 4, 2, 8]

**sort()** dan **reverse()**

In [60]:
lst.reverse()
lst

[8, 2, 4, 5, [5, 4, 2, 8, 7], '70', 5, 3, 0, 9, 7, 8, 1]

In [61]:
lst.sort()
lst

TypeError: '<' not supported between instances of 'list' and 'int'

In [69]:
lst=[1,4,5,6,3,5,2]

In [70]:
lst.sort(reverse=False)
lst

[1, 2, 3, 4, 5, 5, 6]

### Copying a list

In [72]:
lista= [2,1,4,3,6]

In [73]:
listb = lista
print(listb)

[2, 1, 4, 3, 6]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [74]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4, 3]
[2, 1, 4, 3, 9]

In [75]:
print(listb)

[2, 1, 4, 3, 9]

listb ikutan berubah kan?

In [76]:
lista = [2,1,4,3]

In [77]:
listb = lista[:]
listb

[2, 1, 4, 3]

In [78]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [79]:
listb

[2, 1, 4, 3]

In [82]:
lst.insert(5,['a','b','c'])

In [83]:
lst

[1, 2, 3, 4, 5, ['a', 'b', 'c'], 5, 6]

In [84]:
lst[5]

['a', 'b', 'c']

In [89]:
lst_22=[[3,4],[5,6]]
lst_33=[[2,3,5],[3,4,1],[5,6,9]]

In [86]:
lst_22[0][1]

4

In [91]:
lst_33[2][0]

5

In [93]:
lst_exp1=[[[[5,6,7]]]]

In [97]:
lst_exp1[0][0][0][1]

6

In [140]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
list(range(2,100,5))

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97]

In [151]:
daftar_angka=list(range(0,1000,3))

In [152]:
daftar_angka[:20]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

## B. Tuples

Tuples hampir sama seperti List. Namun, tuples tidak bisa dirubah. contohnya hasil dari function divmod

In [99]:
xyz = divmod(15,2)
print(xyz)
print(type(xyz))

(7, 1)
<class 'tuple'>

In [100]:
tup = ()
tup2 = tuple()

In [101]:
27,

(27,)

In [103]:
10*(27,)

(27, 27, 27, 27, 27, 27, 27, 27, 27, 27)

In [104]:
tup3 = tuple([7,1,3])
print(tup3)
tup4 = tuple('Bersama')
print(tup4)

(7, 1, 3)
('B', 'e', 'r', 's', 'a', 'm', 'a')

It follows the same indexing and slicing as Lists.

In [105]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

1
('B', 'e', 'r')

### B.1 Mapping one tuple to another

In [106]:
a,b,c,d= ('satu','dua','tiga','seratus')

In [108]:
print(a,d,c,b)

satu seratus tiga dua

### B.2 Built In Tuple functions

**count()**

In [109]:
d=('1','3','a',5,'a')

In [110]:
d.count('a')

2

**index()**

In [111]:
d.index('a')

2

## C. Sets

Set mempunyai sifat seperti "Himpunan" yang dimana didalamnya pasti unik

In [112]:
set1 = set()
print(type(set1))

<class 'set'>

In [114]:
set0 = set([10,2,2,3,3,4,6,6,6,6,6,6,6,6,6,6,7,7,7,7,10])
print(set0)

{2, 3, 4, 6, 7, 10}

fungsi built-in (contohnya)

<img src="../images/Himpunan-dan-Diagram-Venn.png" />

In [117]:
setA = set([1,3,5,9,7,11,13])

In [118]:
setB = set([3,6,9,12,15])

**union( )**  --> A U B

In [119]:
setA.union(setB)

{1, 3, 5, 6, 7, 9, 11, 12, 13, 15}

In [130]:
setA|setB

{1, 3, 5, 6, 7, 9, 11, 12, 13, 15}

**add( )**

In [120]:
setA.add(-1)
setA

{-1, 1, 3, 5, 7, 9, 11, 13}

In [121]:
setA.remove(-1)
setB

{3, 6, 9, 12, 15}

**intersection( )**  --> A n B

In [123]:
setA.intersection(setB)

{3, 9}

In [129]:
setA&setB

{3, 9}

**difference( )**

In [124]:
setA.difference(setB)

{1, 5, 7, 11, 13}

In [125]:
setA-setB

{1, 5, 7, 11, 13}

**symmetric_difference( )**

In [127]:
setA.symmetric_difference(setB)

{1, 5, 6, 7, 11, 12, 13, 15}

In [128]:
(setA|setB)-(setA&setB)

{1, 5, 6, 7, 11, 12, 13, 15}

**issubset( ), isdisjoint( ), issuperset( )**

In [131]:
setA.issubset(setB)

False

In [132]:
setA.isdisjoint(setB)

False

In [134]:
setA.issuperset(setB)

False

In [135]:
setC={3,5}

In [136]:
setC.issubset(setA)

True

In [144]:
setA

{1, 3, 5, 7, 9, 11, 13}

## Example

In [ ]:
## 1. not include columns
## 2. unique users
## 3. check items

# Quiz 3
copy and complete the script below and save it in file with extention ".py".

In [25]:
#######################
##       Codes       ##
#######################

# your_email=...
# print("-----"+str(your_email)+"-------")

## 
A=[16, 17,  9, 20, 20, 12,  5, 12, 16, 10, 17, 15,  1, 16,  4,  6,  6,
        4,  0,  2, 12, 15,  6,  4, 16, 12, 16, 20,  1, 16, 16, 20,  2,  6,
        2, 10, 16, 17,  6,  4,  6,  6,  8, 10,  5,  1,  2, 15,  2,  8,  8]
B=[20, 36, 29, 24, 24, 30, 31, 37, 30, 31, 32, 34, 39, 34, 20, 28, 20,
       23, 36, 40, 20, 29, 37, 29, 35, 33, 40, 23, 23, 37, 20, 33, 30, 24,
       32, 23, 32, 40, 30]
C=[12, 10, 15, 26, 24, 18, 23, 18, 23, 28, 11, 18, 18, 23, 28, 10, 12,
       10, 18, 11, 25, 18, 24, 23, 11, 12, 18, 25, 28, 17, 20, 28, 15, 20,
       24, 18, 29, 23, 21, 29, 25, 26, 26, 16, 23, 23, 25, 11, 23]


## Ubah list A, B, C diatas menjadi seperti :
# A1=list semua angka unik >0 tapi <=15 dari A, B dan C
# B1=list semua angka unik >15 tapi <=30 dari A, B dan C

print('A1 =' A1)
print('B1 =' B1)

# Clue : Set bisa jadi List, atau sebaliknya