# Welcome to Python

(Jupyter Intro First)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# A. Variables

Variables mudah untuk dimengerti. Sederhananya, **Menunjuk ke Suatu Nilai**.
Dalam python, variable bisa dibuat sebagai berikut,

In [4]:
x = 2
y = 11
xy = 'Hey All'

In [5]:
print(x+y, xy)

13 Hey All

Multiple variables bisa di buat dengan nilai yg sama.

In [6]:
x = y = 44

In [7]:
print(x,y)

44 44

- Variables selalu punya nilai, tapi nilainya bukan variable lain
- Multiple variables bisa punya nilai yg sama, tetapi nilai yang berbeda tidak bisa di taro di variable yg sama

In [8]:
a=5
b=3
print(a,b)

5 3

In [9]:
a=2
print(a,b)

2 3

Python itu `case sensitive` terutama variable.

In [10]:
saya=444
Saya=32
SaYa=45

print(Saya,saya,SaYa)

32 444 45

In [16]:
alam=3.0
print(alam)

3.0

In [17]:
type(alam)

float

In [27]:
x1=2
y1=3
x1+y1

5

Variable bisa dibuat dengan berbagai nama, tapi tidak bisa dengan nama yg sama dengan fungsi yg sudah ada di python

In [10]:
else=5

SyntaxError: invalid syntax (<ipython-input-10-11659b5c9184>, line 1)

input nilai kedalam variable dari user

In [29]:
y=x1+8

In [14]:
saya=input('masukan nama :')

masukan nama : ff

In [15]:
saya

'ff'

# B. Operators

## B.1 Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [30]:
1+2

3

In [31]:
1*2

2

In [32]:
1/2

0.5

In [33]:
1//2

0

In [36]:
31%10

1

In [37]:
2.8//2.0

1.0

## B.2 Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [38]:
z = 2

In [39]:
z == 1

False

In [40]:
z > 1

True

| Usage     | Description                       | True examples         |
|-----------|-----------------------------------|-----------------------|
| `a == b`  | a is equal to b                   | `1 == 1`              |
| `a != b`  | a is not equal to b               | `1 != 2`              |
| `a > b`   | a is greater than b               | `2 > 1`               |
| `a >= b`  | a is greater than or equal to b   | `2 >= 1`, `1 >= 1`    |
| `a < b`   | a is less than b                  | `1 < 2`               |
| `a <= b`  | a is less than or equal to b      | `1 <= 2`, `1 <= 1`    |

## B.3 Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [52]:
a = 2 #10
b = 3 #11

In [69]:
b==1 and a==2

False

In [42]:
print(a & b)
print(bin(a&b))

2
0b10

In [25]:
5 >> 1

2

0000 0101 -> 5 

Menggeser digits sejauh 1 ke kanan

0000 0010 -> 2

In [26]:
5 << 1

10

0000 0101 -> 5 

Menggeser digits sejauh 1 ke kiri

0000 1010 -> 10

# C. Built-in Functions

Python punya banyak fungsi yg sudah dibuat didalamnya

## C.1 Konversi nilai ke sistem bilangan yg lain

Konversi dari hexadecimal ke decimal bisa dengan menambah **0x** ke nilai hexadecimal-nya atau sebaliknya dengan **hex( )**, sementara Octal ke decimal dengan menambah **0o** ke nilai octal-nya atau sebaliknya dengan **oct( )**.

In [27]:
hex(170)

'0xaa'

In [28]:
0xaa

170

In [29]:
oct(10)

'0o12'

In [30]:
0o12

10

* **int( )** bisa juga untuk
 * mengubah float menjadi integer
 * mengkonversi string menjadi integer

In [31]:
print(int('010',8))
print(int('0xaa',16))
print(int('1010',2))

8
170
10

In [32]:
print(int(7.7))
print(int('7'))

7
7

Also note that function,
* **bin( )** mengkonversi angka ke sistem biner
* **float( )** mengubah angka jadi float
* **chr( )** untuk mengkonversi ASCII ke Alfabet yg sesuai
* **ord( )** untuk mengkonversi Alfabet ke ASCII yg sesuai

In [33]:
chr(98)

'b'

In [34]:
bin(10)

'0b1010'

In [35]:
ord('b')

98

## C.2 Operations Menyederhanakan Operasi Aritmatika

* **round( )**

In [36]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

* **complex( )** untuk mendefinisikan Bilangan Kompleks
* **abs( )** Nilai absolut dari suatu bilangan

In [37]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

* **divmod(x,y)** fungsi yg mengeluarkan hasil bagi dan sisa untuk x dibagi dengan y.

In [38]:
divmod(9,2)

(4, 1)

* **isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [53]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

True
False
True



|x ? y|Output|
|---|---|
| x < y | -1 |
| x == y | 0 |
| x > y | 1 |

In [54]:
2<4

True

**pow(x,y,z)**

In [ ]:
pow() #Shift + Tab

In [41]:
print(pow(3,3))
print(pow(3,3,5))

27
2

**range( )** fungsi yang mengeluarkan hamparan integer dalam bentuk list

In [42]:
print(range(3))
print(range(2,9))
print(range(2,27,8))

range(0, 3)
range(2, 9)
range(2, 27, 8)

**type( )** memberi keluaran tipe dari variable

In [43]:
A=10.0

In [44]:
type(A)

float

In [70]:
saya=6

In [ ]:
# saya.

# D. Print Statement

Perintah **print** 

    - print("Hello World")
    - print("Hello", <Variable Containing the String>)
    - print("Hello" + <Variable Containing the String>)
    - print("Hello %s" % <variable containing the string>)

In [58]:
print('Hello World')

Hello World

In [46]:
print('Hey')

Hey

In [59]:
print("""My name is Rajath Kumar M.P.

I love Python.""")

My name is Rajath Kumar M.P.

I love Python.

In [60]:
string1 = 'World'
print('Hello ', string1)

string2 = '!'
print('Hello ', string1, string2)

Hello  World
Hello  World !

In [61]:
print('Hello' + string1 + string2)

HelloWorld!

**%s** digunakan untuk variabel string

In [62]:
print("Hello %s" % string1)

Hello World

dengan penggunaan yg sama,,

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential

In [63]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

In [64]:
print("Hello %s %s" %(string1,string2))

Hello World !

Contoh lainnya :

In [65]:
print("I want %%d to be printed %s" %'here')

I want %d to be printed here

In [54]:
print('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [55]:
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [56]:
print("I want syntax \\n to be printed.")

I want syntax \n to be printed.

In [57]:
print ("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

Fieldwidth -> menentukan seberapa panjang decimal diberapa koma (defaultnya 6)

In [58]:
"%f" % 3.121312312312

'3.121312'

In [59]:
"%.5f" % 3.121312312312

'3.12131'

In [60]:
"%9.5f" % 3.121312312312

'  3.12131'

`Zero padding`

In [61]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

In [62]:
print("% 9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

 3.121312
-3.121312

In [63]:
print("%+9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

+3.121312
-3.121312

In [64]:
"%-9.3f" % 3.121312312312

'3.121    '

# Assignment 1
copy and complete the script below and save it in file with extention ".py".

In [1]:
#######################
## Complete The Codes##
#######################

your_email=...
print("-----"+str(your_email)+"-------")

## Input the data
price = input('put the price : ')
items = ...('put the number of items : ')
percentage = ...

price = float(price)
items = float(items)
percentage = float(percentage)

## Process
## Rule : (Basic Price + (price times items)) substract with the discount (%), basic price = 25000

total_price = ...

## output (2 digits after comma)
print('Total Price :'...)


## scoring
print('-----------------------------------------')

put the price :  22
put the number of items :  22
the discount :  33

wrong. correcting it.