## A. Strings

Strings adalah data text yang di representasikan dengan single/double/triple quotes.

In [1]:
String0 = 'Masih belajar coding disini'
String1 = "Masih belajar coding disini"
String2 = '''Masih
belajar
coding
disini'''

In [2]:
print(String0), type(String0)
print(String1), type(String1)
print(String2), type(String2)

Masih belajar coding disini
Masih belajar coding disini
Masih
belajar
coding
disini

(None, str)

String punya index dan bisa di slice seperti list

In [3]:
print(String0[4])
print(String0[4:])

h
h belajar coding disini

### Built-in Functions

**find( )**

In [4]:
print(String0.find('be'))
print(String0.find('am'))

6
-1

**capitalize( )**

In [5]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

Observe the first letter in this sentence.

**center( )**

In [8]:
String0.center(50)

'           Masih belajar coding disini            '

In [10]:
String0.center(50,'-')

'-----------Masih belajar coding disini------------'

**expandtabs( )**

In [17]:
s = 's\tu\td\ta\th'
print(s)
print(s.expandtabs(1))
print(s.expandtabs())

s	u	d	a	h
s u d a h
s       u       d       a       h

In [18]:
String0

'Masih belajar coding disini'

In [21]:
print(String0.index('bel'))
print(String0.index('Masih',0))
print(String0.index('Masih',10,20))

6
0

ValueError: substring not found

**endswith( )**

In [22]:
print(String0.endswith('y'))

False

The start and stop index values can also be specified.

In [24]:
print(String0.endswith('l',0))
print(String0.endswith('M',0,5))

False
False

**count( )**

In [25]:
print(String0.count('a',5))
print(String0.count('a',10,20))

2
1

**join( )**

In [29]:
'a'.join('-_-!')

'-a_a-a!'

bisa juga untuk menggabung element2 di list

In [30]:
a = list(String0)
print(a)
b = ''.join(a)
print(b)

['M', 'a', 's', 'i', 'h', ' ', 'b', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'c', 'o', 'd', 'i', 'n', 'g', ' ', 'd', 'i', 's', 'i', 'n', 'i']
Masih belajar coding disini

In [34]:
c = '/'.join(a)[10:]
print(c)

 /b/e/l/a/j/a/r/ /c/o/d/i/n/g/ /d/i/s/i/n/i

**split( )**

In [35]:
d = c.split('/')
print(d)

[' ', 'b', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'c', 'o', 'd', 'i', 'n', 'g', ' ', 'd', 'i', 's', 'i', 'n', 'i']

In [36]:
e = c.split('/',5)
print(e)

[' ', 'b', 'e', 'l', 'a', 'j/a/r/ /c/o/d/i/n/g/ /d/i/s/i/n/i']

**lower( )** dan **upper( )**

In [37]:
print(String0)
print(String0.lower())

Masih belajar coding disini
masih belajar coding disini

In [38]:
String0.upper()

'MASIH BELAJAR CODING DISINI'

**replace( )**

In [39]:
String0.replace('coding','programming')

'Masih belajar programming disini'

**strip( )**

In [43]:
f = '    hello   '
f.strip()

'hello'

## B. Dictionaries

Dictionaries berguna seperti databasen dan bisa diberi index sesuai kebutuhan (tidak harus integer). Seperti JSON

bisa gunakan dict() or {}

In [46]:
## Dictionary kosong
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [47]:
d0['satu'] = 1
d0['tigaempat'] = 34
print(d0)

{'satu': 1, 'tigaempat': 34}

In [48]:
print(d0['satu'])

1

**zip( )**

In [49]:
# gabungkan 2 list. dan bisa dijadikan dict
names = ['satu', 'tujuh', 'saya', '4', 4]
numbers = [1, 7, 'me', 4, 'empat']

In [51]:
d2 = zip(names,numbers)
a1 = dict(d2)
print(a1)

{'satu': 1, 'tujuh': 7, 'saya': 'me', '4': 4, 4: 'empat'}

In [52]:
a1['4'],a1[4]

(4, 'empat')

### Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [36]:
a1.clear()
print a1

{}

Dictionary can also be built using loops.

In [37]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print a1

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

**values( )** function returns a list with all the assigned values in the dictionary.

In [38]:
a1.values()

[4, 5, 3, 2, 1]

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [39]:
a1.keys()

['Four', 'Five', 'Three', 'Two', 'One']

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [40]:
a1.items()

[('Four', 4), ('Five', 5), ('Three', 3), ('Two', 2), ('One', 1)]

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [41]:
a2 = a1.pop('Four')
print a1
print a2

{'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}
4